<!DOCTYPE html>
<html>
  <head>
    <title>FaceLetter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p><%= link_to t("home"), root_path %></p>

    <% if user_signed_in? %>
      <%= link_to t("profile"), profile_path %><br />
      <%= link_to t("log_out"), destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to t("sign_up"), new_user_registration_path %><br />
      <%= link_to t("log_in"), new_user_session_path %>
    <% end %>

      
    

    <%# <div class="container">
        <div class="card text-center">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="Фото користувача">
            <div class="card-body">
                <h5 class="card-title">Ім'я Прізвище</h5>
                <div class="social-icons">
                    <a href="https://instagram.com" target="_blank">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram">
                    </a>
                    <a href="https://facebook.com" target="_blank">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook">
                    </a>
                    <a href="https://x.com/" target="_blank">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/X_logo_2023.svg/300px-X_logo_2023.svg.png" alt="Twitter">
                    </a>
                </div>
            </div>
        </div>
    </div> %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
