<p><%= t("views.users.mailer.email_changed.hello") %> <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t("views.users.mailer.email_changed.we're_contacting_you_to_notify_you_that_your_email_is_being_changed_to") %> <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= t("views.users.mailer.email_changed.we're_contacting_you_to_notify_you_that_your_email_has_been_changed_to") %> <%= @resource.email %>.</p>
<% end %>
